# Build and Artifacts
build/
bin/
lib/
*.o
*.a
*.so
*.out

# Project Specific
imu_config.txt
raylib/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
_deps/

# IDE and System Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.history/
